@{
    ViewData["Title"] = "Home Page";
}
<h1>Lost In the Woods</h1>
<table class="table table-striped table-bordered">
    <thead> 
    <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Elevation</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var trail in ViewBag.TrailList){
            <tr>
                <td> <a href="Trail/@trail.trailId"> @trail.Name </a> </td>
                <td>@trail.Length</td>
                <td>@trail.Elevation</td>
            </tr>
        }
    </tbody>
</table>
    
<form method="post" action="/NewTrail">
    <input type="Submit" value="Add a new Trail" class="btn btn-primary"/>
</form>
